html{
    background-color: #F29F8D;
    color:#283959 ;

}

/* Color Theme Swatches in Hex
.destaque{ color: #69688C; }
.principal { color: #283959; }
.Commercial-airplane-jetliner-flying-above-dramatic-clouds.-3-hex { color: #8EA3BF; }
.Commercial-airplane-jetliner-flying-above-dramatic-clouds.-4-hex { color: #F2BC8D; }
.backgound{ color: #F29F8D; }*?


